.clock {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
  
.clock-content {
    display: inline-block;
    margin: 0 auto;
    width: 280px;
    height: 280px;
    margin-top: 25px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #4ebfc9;
    border-radius: 50%;
}
  
#clock-label {
    font-size: 1.5rem;
    font-weight: 700;
}
  
#clock-left {
    font-size: 5rem;
    font-weight: 700;
}